<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= note.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= note.nickname %>
  </p>

  <p>
    <strong>Feeling:</strong>
    <%= note.feeling %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= note.message %>
  </p>

</div>
